/* =============================================================================
   App specific SCSS file.
   ========================================================================== */

/*! Colors START */
$green: #3DF291;
$dark-purple: #2A1052;
$light-purple: #643BA2; 
$pink: #D1A4FF;
/*! Colors END */

/*! Color Variables START */
$theme-colors: (
  "primary": $green,
  "secondary": $light-purple,
  "info": $green,
  "dark": $dark-purple,
  "success": $green,
  "light": $pink,
  "danger": $green
); /*! Color Variables END */

/*! Fonts START */
$font-family-sans-serif: "Betm Rounded", sans-serif; /*

/*! Font Import Start */
@font-face {
    font-family: 'Betm Rounded';
    src: url('../fonts/BetmRounded-Regular.ttf') format('truetype'); /* Safari, Android, iOS */
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Betm Rounded';
    src: url('../fonts/BetmRounded-SemiBold.ttf') format('truetype'); /* Safari, Android, iOS */
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Betm Rounded';
    src: url('../fonts/BetmRounded-Bold.ttf') format('truetype'); /* Safari, Android, iOS */
    font-weight: 700;
    font-style: normal;
}

@import "~bootstrap/scss/bootstrap";

@function asset-url($path) {
    @return url('~!file-loader!' + $path);
}

/*! Buttons (Custom) START */
.btn-lg{
    border-radius: 50rem;
}