/* =============================================================================
   App specific SCSS file.
   ========================================================================== */

@import "./includes/theme";
@import "~bootstrap/scss/bootstrap";

// Import mixins after bootstrap because bootstrap has some that conflict
@import "./includes/mixins";

@function asset-url($path) {
    @return url('~!file-loader!' + $path);
}

body{
    background: $dark-purple;
}

/*! Buttons (Custom) START */
.btn-lg{
    border-radius: 50rem;
}

#messageInput, .rounded-100 {
    border-radius: 100em;
}

.bg-primary-20{
    background: rgba($green, 0.1);
}

.rounded-1{
    border-radius: 0.75rem;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    margin: 0px;
}

.speech-bubble-purple, .speech-bubble-green, .speech-bubble-two {
	position: relative;
	border-radius: 0.75em;
}

.speech-bubble-purple:after, .speech-bubble-green:after {
	content: '';
	position: absolute;
	left: 2px;
	top: 50%;
	width: 0;
	height: 0;
	border: 2rem solid transparent;
	border-left: 0;
	border-bottom: 0;
	margin-top: -1rem;
	margin-left: -2rem;
}

.speech-bubble-purple:after{
    border-right-color: $light-purple;
}

.speech-bubble-green:after{
    border-right-color: $green;
}

.speech-bubble-two:after {
	content: '';
	position: absolute;
	right: 2px;
	top: 50%;
	width: 0;
	height: 0;
	border: 1.25rem solid transparent;
	border-left-color: $light-purple;
	border-right: 0;
	margin-top: -1.25rem;
	margin-right: -1.25rem;
}

.border-2{
    border-width: 2px;
}

:-moz-placeholder {
    font-weight: 300;
}
::-webkit-input-placeholder {
    font-weight: 300;
}
::-moz-placeholder {
    font-weight: 300;
}
:-ms-input-placeholder {
    font-weight: 300;
}

.textfield-light::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: rgba($color: $pink, $alpha: 0.5);
}
.textfield-light:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: rgba($color: $pink, $alpha: 0.5);
    opacity: 1;
}
.textfield-light::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: rgba($color: $pink, $alpha: 0.5);
    opacity: 1;
}
.textfield-light:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: rgba($color: $pink, $alpha: 0.5);
}

.textfield-light:focus{
    @include box-shadow(0 0 0 4px rgba($pink, 0.3));
}

.textfield-primary::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: rgba($color: $green, $alpha: 0.5);
}
.textfield-primary:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: rgba($color: $green, $alpha: 0.5);
    opacity: 1;
}
.textfield-primary::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: rgba($color: $green, $alpha: 0.5);
    opacity: 1;
}
.textfield-primary:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: rgba($color: $green, $alpha: 0.5);
}

.textfield-primary:focus{
    @include box-shadow(0 0 0 4px rgba($green, 0.3));
}

.textfield-secondary::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: rgba($color: $light-purple, $alpha: 0.5);
}
.textfield-secondary:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: rgba($color: $light-purple, $alpha: 0.5);
    opacity: 1;
}
.textfield-secondary::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: rgba($color: $light-purple, $alpha: 0.5);
    opacity: 1;
}
.textfield-secondary:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: rgba($color: $light-purple, $alpha: 0.5);
}

.textfield-secondary:focus{
    @include box-shadow(0 0 0 4px rgba($light-purple, 0.3));
}

.border-none{
    border: none;
}

.grow{
    @include transform(scale(1));
    @include transition(all 0.2s ease-out);
}
.grow:hover{
    @include transform(scale(1.15));
}

.grow-2{
    transform-origin: 15% 50%;
    @include transform(scale(1));
    @include transition(all 0.15s ease-out);
}
.grow-2:hover {
    @include transform(scale(1.06));
}

.grow-3 {
    @include transform(scale(1));
    @include transition(all 0.15s ease-out);
}
.grow-3:hover {
    @include transform(scale(1.06));
}

.glow-green {
    @include box-shadow(0 0 0rem rgba($green, 0));
}

.glow-green:hover{
    @include box-shadow(0 0 0.8rem rgba($green, 0.8));
}

.glow-purple{
    @include box-shadow(0 0 0rem rgba($light-purple, 0));
}

.glow-purple:hover{
    @include box-shadow(0 0 0.8rem rgba($light-purple, 1));
}

.glow-pink{
    @include box-shadow(0 0 0rem rgba($pink, 0));
}

.glow-pink:hover{
    @include box-shadow(0 0 0.8rem rgba($pink, 0.8))
}

.font-weight-extrabold{
    font-weight: 800;
}

.btn-lg{
    font-weight: 800;
}

.z-index-100{
    z-index: 100;
}

.absolute {
    position: absolute;
}

//  MEDIA QUERIES
//––––––––––––––––––––––––––––––––––––––––––––––––––

// A map of breakpoints.
$breakpoints: (
  xs: 576px,
  sm: 768px,
  md: 992px,
  lg: 1200px
);

#amountQr > canvas {
    width: 100%;
    margin-top: 55%;
}
.qrWidth{
    width: 45.5%;
}

@include respond-above(sm){
    #amountQr > canvas {
        margin-top: 56%;
    }
    .qrWidth{
        width: 45%;
    }
}

@include respond-above(md){
    #amountQr > canvas {
        margin-top: 58%;
    }
    .qrWidth{
        width: 43%;
    }
}

@include respond-above(lg){
    #amountQr > canvas {
        margin-top: 57%;
    }
    .qrWidth{
        width: 44.5%;
    }
}

.emoji-menu {
    z-index: 200;
    left: 0%;
    top: 3rem;
    @include box-shadow(0 1.5em 3em 0 rgba($dark-purple, 1));
}

.emojiPicker {
    z-index: 199;
}

.emoji{
    height: 32px;
    width: 32px;
}

.opacity-animation {
    animation-name: opacity-keyframes;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

/* The animation code */
@keyframes opacity-keyframes {
    0% {opacity: 0.2;}
    50% {opacity: 0.7;}
    100% {opacity: 0.2;}
}

.opacity-animation-2{
    animation-name: opacity-keyframes-2;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

/* The animation code */
@keyframes opacity-keyframes-2 {
    0% {opacity: 0.6;}
    50% {opacity: 1.0;}
    100% {opacity: 0.6;}
}

a.text-primary:link, a.text-primary:visited {
    color: map-get($theme-colors, primary);
}

a.text-secondary:link, a.text-secondary:visited {
    color: map-get($theme-colors, secondary);
}
a.text-light:link, a.text-light:visited {
    color: map-get($theme-colors, light);
}

a.text-dark:link, a.text-dark:visited {
    color: map-get($theme-colors, dark);
}