/* =============================================================================
   App specific SCSS file.
   ========================================================================== */

/*! Colors START */
$green: #3DF291;
$dark-purple: #2A1052;
$light-purple: #643BA2; 
$pink: #D1A4FF;
/*! Colors END */

/*! Color Variables START */
$theme-colors: (
  "primary": $green,
  "secondary": $light-purple,
  "info": $green,
  "dark": $dark-purple,
  "success": $green,
  "light": $pink,
  "danger": $green
); /*! Color Variables END */

/*! Fonts START */
$font-family-sans-serif: "Betm Rounded", sans-serif; /*

/*! Font Import Start */
@font-face {
    font-family: 'Betm Rounded';
    src: url('../fonts/BetmRounded-Regular.ttf') format('truetype'); /* Safari, Android, iOS */
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Betm Rounded';
    src: url('../fonts/BetmRounded-SemiBold.ttf') format('truetype'); /* Safari, Android, iOS */
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Betm Rounded';
    src: url('../fonts/BetmRounded-Bold.ttf') format('truetype'); /* Safari, Android, iOS */
    font-weight: 700;
    font-style: normal;
}

@import "~bootstrap/scss/bootstrap";

@function asset-url($path) {
    @return url('~!file-loader!' + $path);
}

body{
    background: $dark-purple;
}
/*! Buttons (Custom) START */
.btn-lg{
    border-radius: 50rem;
}

#messageInput, .rounded-100 {
    border-radius: 100em;
}

.bg-primary-20{
    background: rgba($green, 0.1);
}

.rounded-1{
    border-radius: 0.75rem;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    margin: 0px;
}

.speech-bubble {
	position: relative;
	background: $light-purple;
	border-radius: 0.75em;
}

.speech-bubble:after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 2rem solid transparent;
	border-right-color: $light-purple;
	border-left: 0;
	border-bottom: 0;
	margin-top: -1rem;
	margin-left: -2rem;
}

.border-2{
    border-width: 2px;
}

:-moz-placeholder {
    font-weight: 300;
}
::-webkit-input-placeholder {
    font-weight: 300;
}
::-moz-placeholder {
    font-weight: 300;
}
:-ms-input-placeholder {
    font-weight: 300;
}

.textfield-light::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: rgba($color: $pink, $alpha: 0.5);
}
.textfield-light:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: rgba($color: $pink, $alpha: 0.5);
    opacity: 1;
}
.textfield-light::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: rgba($color: $pink, $alpha: 0.5);
    opacity: 1;
}
.textfield-light:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: rgba($color: $pink, $alpha: 0.5);
}

.textfield-light:focus{
    box-shadow: 0 0 0 4px rgba($pink, 0.3);
}

.textfield-primary::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: rgba($color: $green, $alpha: 0.5);
}
.textfield-primary:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: rgba($color: $green, $alpha: 0.5);
    opacity: 1;
}
.textfield-primary::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: rgba($color: $green, $alpha: 0.5);
    opacity: 1;
}
.textfield-primary:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: rgba($color: $green, $alpha: 0.5);
}

.textfield-primary:focus{
    box-shadow: 0 0 0 4px rgba($green, 0.3);
}